.container{
    background: #003049;
    max-width: 35%;
    border-radius: 20px;
    
}
.textInp{
    margin-left: 5.2em;
}
form{
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
input{
    margin-left: 3em;
    padding-right: 90px;
}
textarea{
    margin-left: 3.2em;
    padding: 4px 60px 4px 0px;
    margin-bottom: 1em;
}
select{
    margin-left: 8.6em;
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
max-width: 50%;
margin-left: 8em;
color: white;
background-color:#c1121f;
border: 0px solid;
border-radius: 4px;
padding: 5px;
margin-bottom: 1em;
}